<?xml version="1.0"?>
<CFProjPrefs xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <projectPath>G:/GitHubProjects/Mosqito_Robot NEw 18.4.2f1/Assets</projectPath>
  <isIsntalled>true</isIsntalled>
  <wasShown>true</wasShown>
  <installedVer>1</installedVer>
</CFProjPrefs>